@mixin clear() { //używany w gridzie, żeby floaty sie nie popieprzyły
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin section-margins($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
